*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
}
.container{
  display: grid;
  grid-template-columns: 1fr;
  background:#FFF;
  justify-content: center;
}
header{
  display: grid;
  grid-template-columns: 120px 300px;
  justify-content: space-between;
  align-items: center;
  padding:40px 72px;
}

header .logo img{
  max-inline-size: 100%;
}
header ul.nav-links{
  display: grid;
  grid-template-columns:auto auto auto;
}
ul.nav-links li {
  list-style: none;
}
.nav-links li a{
  text-decoration: none;
  color: hsl(243, 87%, 12%);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
}
main{
  display: grid;
  grid-template-columns: 1fr;
}
section.introduction{
  margin:48px 0 32px;
  padding:40px 72px;
  display: grid;
  grid-template-columns: 512px 600px;
  justify-content: space-between;
  align-items: center;
}

.introduction .description-segment h1{
  font-size: 32px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: hsl(243, 87%, 12%);
}
.introduction .description-segment p{
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: hsl(243, 87%, 12%);
  margin: 16px 0px;
}
.description-segment input{
  height: 40px;
  width: 284px;
  padding:0 12px ;
  outline: none;
  border-radius: 4px;
  margin-right: 12px;
  border: 1px solid #000;
  cursor: pointer;
}
button.get-started{
  background: hsl(224, 93%, 58%);
  color:  hsl(240, 75%, 98%);
  height: 40px;
  padding:0 56px ;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}
.introduction .illustration-one img{
  max-width: 100%;
}
.curve-desktop{
  max-width: 100%;
  margin-bottom: -8px;
}
.curve-mobile{
  display: none;
  width: 100%;
  margin-bottom: -8px;
}
section.productivity-section{
  display: grid;
  grid-template-columns: 660px 520px;
  justify-content: space-between;
  background:  hsl(240, 75%, 98%);
  padding:40px 72px 56px;
  align-items: center;
}
.productivity-details{
  display: grid;

}
.productivity-section .security-details{
  display: grid;

}
.productivity-section .security-details h2{
  font-size:39px;
  color: hsl(243, 87%, 12%);
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 16px;
}
.productivity-section .security-details p{
  max-width: 520px;
  font-size: 16px;
  font-weight: 400;
  color: hsl(243, 87%, 12%);
  margin: 8px 0px 16px;
}
.productivity-section p.how-flyo-works{
  display: flex;
  align-items: center;
  position: relative;
  max-width: 204px;
}
p.how-flyo-works::after{
  content: "";
  width: 100%;
  height: 1px;
  background:hsl(170, 45%, 43%);
  position: absolute;
  left: 0;
  bottom: -3px;
}
p.how-flyo-works a{
  color:  hsl(170, 45%, 43%);
  margin-right: 5px;
  text-decoration: none;
}
.productivity-section .testimonial{
  max-width: 372px;
  background: #FFF;
  padding: 24px;
  border-radius: 8px;
  margin-top:40px;
}
.productivity-section .testimonial p{
  color: hsl(243, 87%, 12%);
  font-weight: 400px;
  font-size: 16px;

}
.productivity-section .testimonial .avatar{
  display: grid;
  grid-template-columns: 50px 240px;
  align-items: center;
  grid-column-gap: 8px;
  margin-top: 24px;
}

.testimonial .avatar img{
  max-width: 100%;
  border-radius: 100%;
}

section.productivity-section .illustration-two img{
  max-width: 100%;
}
section.access-subscribe{
  display: grid;
  grid-template-columns: 488px 500px;
  justify-content: space-between;
  align-items: center;
  background:   hsl(238, 22%, 44%);
  padding:40px 72px 40px;
  color: hsl(240, 75%, 98%);
}
section.access-subscribe h2{
  font-size: 28px;
  margin-bottom: 16px;
}

.access-subscribe input{
  padding:12px;
  width: 400px;
  outline: none;
  border-radius: 4px;
  border: 1px solid hsl(0, 0%, 75%);
  margin: 4px 0 16px;
  cursor: pointer;
}
input::placeholder{
  color:  hsl(0, 0%, 75%);
  font-size: 16px;
}
footer.footer{
  background:hsl(243, 87%, 12%);
  color: hsl(240, 75%, 98%);
  padding:56px 72px 48px;
}

footer .logo{
  position: relative;
  max-width: 200px;
}
footer .logo .logo-svg{
  filter: brightness(180);
  max-width: 120px;
}
.logo span.fylo{
  position: absolute;
  left:52px;
  top: -4px;
  font-size: 32px;
  font-weight: 700;
}
.footer-segment{
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: start;
  margin-top: 16px;
}
.footer-segment > div{
  display: grid;
  grid-row-gap: 12px;
  list-style-type: none;
}
.footer-segment .contacts div{
 display: grid;
 grid-template-columns: 30px 200px;
 align-items: center;
}
.footer-segment .social-media{
  display: grid;
  grid-template-columns: repeat(3, 32px);
  grid-column-gap: 8px;
}
.footer-segment .social-media > div{
  display:grid;
  justify-content: center;
  align-items: center;
  height: 32px;
  border: 1px solid hsl(240, 75%, 98%);
  border-radius: 100%;
}
@media screen and (max-width: 480px) and (orientation:portrait){
  .container{
    grid-template-columns: auto;
  }
  header{
    grid-template-columns: 60px 240px;
    padding:24px 16px 16px;
    margin-bottom: 16px;
  }
  .nav-links li a{
    font-size: 16px;
  }
  main{
    grid-template-columns: auto;
  }

 section.introduction{
    grid-template-columns: auto;
    justify-items: center;
    padding: 0;
  }
  .description-segment{
    text-align: center;   
    max-width: 328px;
    margin: 32px 0;
    order: 2;
  }
  .introduction .description-segment h1{
    font-size: 26px;
  }
  .introduction .description-segment p {
    max-width: 324px;
    font-size: 15px;
  }
  .description-segment input{
    margin: 0 0 16px;
    width: 320px;
  }
  button.get-started{
    width: 320px;
    padding: 0;
  }

  .illustration-one{
    margin: 40px 0 32px;
  }
  .curve-desktop{
    display: none;
  }
  .curve-mobile{
    display: block;
    max-width: 100%;
    margin-bottom: -8px;
  }
 section.productivity-section{
   grid-template-columns: auto;
    padding: 0;
    justify-items: center;
 }
 .productivity-details{
  margin: 32px 0;
  justify-items: center;
  max-width:336px;
  order: 2;
 }
 .productivity-section .security-details{
  justify-items: center;
 }
.productivity-section .security-details h2{
  font-size: 18px;
 }
 .productivity-section .security-details p{
  font-size: 15px;
 }
 .productivity-section p.how-flyo-works{
  font-size: 16px;
  justify-items: center;
 }
 .productivity-section .testimonial{
  max-width: 296px;
  padding: 14px;
 }
 .productivity-section .testimonial p{
  font-size: 13px;
 }
 .productivity-section .testimonial .avatar{
  grid-template-columns: 40px 200px;
 }
 .illustration-two{
  margin: 24px 0 32px;
 }
 section.access-subscribe{
  grid-template-columns: auto;
  justify-content: center;
  text-align: center;
  padding: 32px 0 40px;
 }
 .get-access{
  max-width: 320px;
 }
 section.access-subscribe h2{
  font-size: 24px;
 }
 .access-subscribe input {
  max-width: 280px;
  margin: 24px 0px 16px;
 }
 .access-subscribe .get-started{
  max-width: 280px;
 }
 footer.footer{
  padding: 32px 24px;
 }
.footer-segment{
  grid-template-columns: auto;
  grid-template-rows: 80px 140px 120px 50px;
  grid-row-gap: 24px;
  margin: 28px 0 0;
  padding: 0;
}
.footer-segment .social-media {
  justify-content: center;
}
}
@media screen and (min-width:480px) and (max-width: 768px) and (orientation: landscape){
  .container{
    grid-template-columns: auto;
    justify-content: normal;
  }
  header{
    grid-template-columns: 120px 280px;
    padding: 16px 32px 0;
    margin: 24px 0;
  }
  main{
    grid-template-columns: auto;
  }
  section.introduction{
    grid-template-columns: 308px 332px;
    padding: 0 24px;
  }
  .introduction .description-segment h1 {
    font-size: 20px;
  }
  .introduction .description-segment p {
    font-size: 14px;
  }
  .description-segment{
    display: grid;
  }
  .description-segment input{
    margin: 0 0 16px;
    width: 240px;
  }
  button.get-started {
    width: 240px;
  }
 
  section.productivity-section{
    grid-template-columns: 310px 330px;
    padding: 16px 24px 48px;
    }
  .productivity-section .security-details{
    max-width: 310px;
  }
  .productivity-section .security-details h2{
    font-size: 20px;
  }
  .productivity-section .testimonial{
    max-width: 300px;
    padding: 8px 12px;
  }
  .productivity-section .testimonial p {
    font-size: 14px;
  }
  section.access-subscribe {
    grid-template-columns: 310px 330px;
    padding: 24px
  }
  .access-subscribe input{
    width: 240px;
  }
  .subscribe{
    display: grid;
    justify-items: center;
  }
  footer.footer {
    padding: 32px 24px;
  }
  .footer-segment{
    grid-template-columns: 280px 160px;
    justify-content: space-between;
    grid-row-gap: 24px;
    grid-template-rows: 160px 120px;
  }
  .footer-segment .social-media{
    grid-template-columns: 32px;
  }
}
